a{
    color: #333;
    -webkit-box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Microsoft YaHei";
    -webkit-tap-highlightcolor: transparent;
    /*去除在手机上点击时出现的半透明色块*/
    -webkit-user-select: none;
    /*禁止用户选中*/
    -webkit-text-size-adjust: none;
    /*旋转屏幕时禁止自动调整文字大小*/
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
}

@media screen and (min-width:320px){
    html{
        font-size:62.5%;
    }
}

@media screen and (min-width:375px) and (max-width:413px){
    html{
        font-size:72.5%;
    }
}

@media screen and (min-width:414px){
    html{
        font-size:87.5%;
    }
}
.section {
    width: 100%;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    /*定义iscroll的盒子上一定要定义一个相对定位*/
}
.wrap{
    width: 100%;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    height: 100%;
    overflow: hidden;
}

/**/
.login_title {
    width: 100%;
    height: 4.4rem;
    border-bottom: 1px solid #B0B0B0;
    box-shadow: 1px 1px 4px #ccc;
    position: relative;
}
.login_title h1{
    width: 100%;
    text-align: center;
    line-height: 4.4rem;
    font-size: 1.6rem;
}

.login_title a {
    position: absolute;
    top: 11px;
}

.retruns {
    display: block;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url(../img/btn_top_nav_back.png) no-repeat;
    background-size: 100% 100%;
}

.home {
    display: block;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: url(../img/btn_top_nav_home.png) no-repeat;
    background-size: 100% 100%;
}
.form {
    -webkit-box-flex: 1;
    padding: 2rem 1.5rem;

}
/* ע�� */
.register{
    margin-bottom: 0;
}
.forms{
    padding: 0 15px;
    margin-top: 15px;
}
.forms div>input{
    width: 100%;
    height: 38px;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    -webkit-box-sizing:border-box;
    padding-left: 10px;
    overflow: hidden;
}
.forms>div{
    position: relative;
    display:block;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.forms>div>b{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height:38px;
    background: #E84A47;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.psd{
    display:block;
    position: absolute;
    top: 4px;
    right:2px;
    width: 70px;
    height: 30px;
    background: #F5ADAC;
    border-radius: 20px;
}
.psd i{
    color: #E84946;
}
.mm{
    text-align: left;
    margin-left: 5px;
    font-size: 14px;
}
.op{
    float: right;
    text-align: right;
    margin-right: 5px;
    line-height: 30px;
}
.psd input[type=checkbox]{
    position:absolute;
    left:0;
    width:0;
    opacity:0;
    -webkit-appearance:none;
}
.psd  input[type=checkbox]+label{
    position: absolute;
    top: 1px;
    left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 15px;
    background: #fff;
    -webkit-transition:left 0.6s;
}

.psd  input[type=checkbox]:checked+label{
    -webkit-transition:left 0.4s;
    left: 40px;
}
.resig{
    position: relative;
}
.resig span{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background: #f00;
    color: #fff;
    text-align: center;
    line-height: 38px;
}


.pwd{
    display: -webkit-box;
    -webkit-box-flex: 1;
}
.pwd>input{
    display: block;
    -webkit-box-flex: 1;
    width: 100%;
    height: 3rem;
    border: 1px #ccc solid;
}
.pwd>div{
    width: 90px;
}
/*���뿪��*/
.pwd-on{
    width:90px;
    height:36px;
    position:absolute;
    top:0px;
    right:0px;
    background:url(../img/switch-hidden.png) no-repeat;
    background-size:auto 36px;
}

.pwd-off{
    width:90px;
    height:36px;
    position:absolute;
    top:0px;
    right:0px;
    background:url(../img/switch-open.png) no-repeat;
    background-size:auto 36px;
}
.control-btn{
    width:36px;
    height:36px;
    background:#fff;
    border-radius:18px;
    -webkit-transform:translate3d(49px,0,0);
}

.forms>p{
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #8C8C8C;
    font-size: 15px;
}

.read span{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 9px;
    border: 1px solid #ccc;
    margin-top:14px;
}
.read span.checks{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 9px;
    /*background:url(../img/chekicon.png) no-repeat;
    background-size: 100% 100%*/
    background: #f00;
}

.next{
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #F2F2F2;
    background: #BEBEBE;
    font-size: 14px;
    margin-top: 20px;
}
.next.activ{
    background: #E84A47
}
/*提示框*/
.confirm{
    position: absolute;
    width: 200px;
    height: 150px;
    background: #fff;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -100px;
    display: none;
    z-index: 100003
}

.confirm h1{
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.confirm p{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: #000
}
.confirm span{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #E84A47;
    position: absolute;
    bottom: 0;
    z-index: 1003
}


/**/

/*遮罩*/
.ui-id-mark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}
/*加载动画*/
.ui-id-loading {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    z-index: 9999;
}
.ui-id-loading img {
    width: 60px;
    height: 60px;
}
/*提示框*/
.ui-dialog {
    width: 21rem;
    height: 10rem;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10.5rem;
    margin-top: -7rem;
    z-index: 999992001;
    color: #333;
    border-radius: 5px;
}

.tipcontainer {
    width: 90%;
    margin: .5rem auto;
}
.tipcontainer h2 {
    font-size: 1.3rem;
    text-align: center;
    height: 2rem;
}
.tipcontainer .content {
    text-align: center;
    line-height: 2rem;
    height: 3rem;
    color: #333;
}
.tipcontainer p a {
    display: block;
    width: 4rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: .5rem auto;
}


